<div class="rz-login-frontend">

	{% block rz_user_header %}
		{% block rz_user_breadcrumb %}{% endblock %}
		{% block rz_user_title %}{% endblock %}
		{% block rz_user_header_content %}
			<div class="row-fluid">
				<div class="span12">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
						<a href="{{ path('sonata_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
					{% else %}
						<a href="{{ path('sonata_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
					{% endif %}
				</div>
			</div>
		{% endblock %}
	{% endblock rz_user_header %}

	{% block rz_user_message %}
		<div class="row-fluid">
			<div class="span12">
				{% for type, messages in app.session.flashBag.all %}
					{% for message in messages %}
						<div class="{{ type }}">
							{{ message|trans({}, 'FOSUserBundle') }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	{% endblock rz_user_message %}

	{% block fos_user_content %}{% endblock fos_user_content %}
</div>