{% trans_default_domain 'RzUserBundle' %}
<div class="register-box-body">
	<p class="login-box-msg">{{ 'security.resettings.change_password' | trans({}, 'SonataUserBundle') }}</p>
	<form action="{{ path('sonata_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" role="form" novalidate="novalidate">
		{{ form_errors(form) }}
		<div class="form-group has-feedback{% if form.new.first.vars.errors|length %} has-error{% endif %}">
			{{ form_widget(form.new.first) }}<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			{{ form_errors(form.new.first) }}
		</div>
		<div class="form-group has-feedback{% if form.new.second.vars.errors|length %} has-error{% endif %}">
			{{ form_widget(form.new.second) }}<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			{{ form_errors(form.new.second) }}
		</div>
	    {{ form_rest(form) }}
		<div class="row">
			<!-- /.col -->
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary pull-right">{{ 'resetting.reset.submit'|trans({}, 'SonataUserBundle') }}</button>
			</div>
			<!-- /.col -->
		</div>
	</form>
</div>
