{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if context.getSetting('mode') == 'admin' %}
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3>
                    <i class="icon-bar-chart"></i>
                    {% if settings.title %}<h3 class="sonata-news-block-recent-post">{{ settings.title }}</h3>{% endif %}
                </h3>
            </div>
            <div class="box-content">
                <div id="flot-age" class='flot'></div>
	            <div><h4 style="text-align: right; color:#337e42;">TOTAL SAMPLES : {{ settings.ageBracketTotal.ageBracketTotal }}</h4></div>
            </div>
        </div>
    {% else %}
        {% if settings.title is defined %}
            <h2 class="sonata-feed-title">{{ settings.title }}</h2>
        {% endif %}
        <div id="flot-age" class='flot'></div>
    {% endif %}
    <script>
        jQuery(document).ready(function() {
            var data = [];
            {% set count = 0 %}
            {% for data in settings.ageBracket %}
            data[{{ count }}] = { label: '{{ data.name }}', data: Math.floor(({{ data.ageBracketCount }}/{{ settings.ageBracketTotal.ageBracketTotal }})*100) };
            {% set count = count+1 %}
            {% endfor %}
        $.plot($("#flot-age"), data,
                {
                    series: {
                        pie: {
	                        innerRadius: 0.5,
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3/4,
                                formatter: labelFormatterAge,
                                background: {
                                    opacity: 0.5
                                }
                            }
                        }
                    },
                    legend: {
                        show: true
                    },
	                grid: {
		                hoverable: true
	                }
                });
        });

        function labelFormatterAge(label, series) {
            return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + Math.round(series.percent) + "%</div>";
        }

    </script>
{% endblock %}