{% trans_default_domain 'FOSUserBundle' %}
<div class="row-fluid">
    <div class="span4 offset4">
        <div class="form-errors">
            {{ form_errors(form) }}
        </div>
        <form class="contact-form contact-form-register" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            <p class="form_info">{{ 'form.email'|trans }} <span class="required">*</span></p>
            {{ form_widget(form.email, { 'attr': {'class': 'span12'} }) }}
            <div class="form-errors">
                {{ form_errors(form.email) }}
            </div>
            <p class="form_info">{{ 'form.username'|trans }} <span class="required">*</span></p>
            {{ form_widget(form.username, { 'attr': {'class': 'span12'} }) }}
            <div class="form-errors">
                {{ form_errors(form.username) }}
            </div>
            <p class="form_info">{{ 'form.password'|trans }} <span class="required">*</span></p>
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'span12'} }) }}
            <div class="form-errors">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <p class="form_info">{{ 'form.password_confirmation'|trans }} <span class="required">*</span></p>
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'span12'} }) }}
            <div class="form-errors">
                {{ form_errors(form.plainPassword.second, { 'attr': {'class': 'register-error'} }) }}
            </div>
            {{ form_rest(form) }}
            <div class="registration-submit">
                <input class="btn btn-rzcms-theme btn-register" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
