<div class="row-fluid">
    <div class="span6 offset3">
        <div class="sonata-user-edit-authentication">
            <h1>{{ "title_user_account" | trans({}, 'RzUserBundle')}}</h1>
            <h2 class="small">{{ "title_user_edit_authentication" | trans({}, 'RzUserBundle')}}</h2>

            <form action="{{ path('fos_user_profile_edit_authentication') }}" method="POST" class="contact-form contact-form-profile-authentication" novalidate>
                {{ form_errors(form) }}
                <p class="form_info">{{ 'form.label_current_password'|trans({}, 'RzUserBundle') }}:</p>
                {{ form_widget(form.current_password) }}
                <div class="form-errors">
                    {{ form_errors(form.current_password) }}
                </div>

                <p class="form_info">{{ 'form.label_new_password'|trans({}, 'RzUserBundle') }}</p>
                {{ form_widget(form['plainPassword'].first) }}
                <div class="form-errors">
                {{ form_errors(form['plainPassword'].first) }}
                </div>

                <p class="form_info">{{ 'form.label_new_password_confirmation'|trans({}, 'RzUserBundle') }}</p>
                {{ form_widget(form['plainPassword'].second) }}
                <div class="form-errors">
                {{ form_errors(form['plainPassword'].second) }}
                </div>

                {{ form_rest(form) }}
                <div class="profile-submit">
                    <input class="btn btn-rzcms-themes" type="submit" name="submit" value="{{ 'profile.edit.submit'|trans({}, 'RzUserBundle') }}" />
                    <a class="btn btn-rzcms-theme-red" type="button" href="{{ path('fos_user_profile_show') }}"/>{{ 'profile.edit.cancel' | trans({}, 'RzUserBundle') }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
