{% extends "RzUserBundle::layout.html.twig" %}

{% block rz_user_header %}
    <div class="row-fluid">
        <div class="span6 offset3">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock rz_user_header %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="sonata-user-show">
                <address>
                    <strong>{{ app.user.fullname }}</strong><br>
                    <a href="mailto:#"><small>{{ user.email }}</small></a>
                </address>

                <table class="table table-bordered">
                    <tr>
                        <td><small>Firstname</small></td>
                        <td><strong>{{ user.firstname }}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Lastname</small></td>
                        <td><strong>{{ user.lastname }}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Birthdate</small></td>
                        <td><strong>{{ user.dateOfBirth|date('F j, Y') }}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Email</small></td>
                        <td><strong>{{ user.email }}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Birthdate</small></td>
                        <td><strong>{{ user.website }}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Gender</small></td>
                        <td><strong>{% if user.gender == 'm'  %}Male{% else %}Female{% endif %}</strong></td>
                    </tr>
                    <tr>
                        <td><small>Biography</small></td>
                        <td><blockquote>{{ user.biography }}</blockquote></td>
                    </tr>

                    <tr>
                        <td><small>Actions</small></td>
                        <td>
                            <ul class="unstyled">
                                <li><a href="{{ path('sonata_user_profile_edit') }}">{{ "link_edit_profile" | trans({}, 'RzUserBundle')}}</a></li>
                                <li><a href="{{ path('sonata_user_profile_edit_authentication') }}">{{ "link_edit_authentication" | trans({}, 'RzUserBundle')}}</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
